.slideout-menu {
    position: fixed;
    left: -250px; /* Initial position - outside the screen */
    top: 80px; /* Adjust the top value to create space for the menu toggle */
    width: 250px;
    height: 100vh;
    background: #000000;
    color: #e3e772;
    transition: left 0.3s ease-in;
    font-family: 'Quicksand', sans-serif;
    z-index: 9999;
  }
  
  .slideout-menu a {
    display: block;
    padding: 15px;
    color: #e3e772;
    text-decoration: none;
    transition: background 0.3s;
    font-family: 'Quicksand', sans-serif;
  }
  
  .slideout-menu a:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10000;
    color: #e3e772;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .material-icons {
    font-size: 28px;
    color: #e3e772;
  }
  
  
  